html {
  background-color: black;
}

header {
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

p {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

main h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

main p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
